﻿@model Commons.ModelView.SkillViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblMBarang</h4>
    <hr />
    <div class="row">
        <div class="col-xs12">
            <div class="form-horizontal">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.SkillIdPk)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.SkillIdPk)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.SkillName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.SkillName)
                </dd>
            </div>

        </div>

    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>