﻿@model Commons.ModelView.SkillViewModel

@{
    ViewData["Title"] = "Create System Type";
}


<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="form-horizontal">
            <form asp-action="EditSkill">
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"> @Html.DisplayNameFor(o => o.SkillName ) </label>

                    <div class="col-sm-9">
                        <input class="col-xs-10 col-sm-5" asp-for="SkillName" placeholder="@Html.DisplayFor(o => o.SkillName)" />
                    </div>
                </div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn" type="submit" asp-route-id="@Model.SkillIdPk">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Save
                        </button>
                    </div>
                </div>
            </form>

        </div>

    </div><!-- /.col -->
</div>