﻿@model IEnumerable<Commons.ModelView.SkillViewModel>

@{
    ViewData["Title"] = "Candidate";
    //Layout = "~/Views/Shared/_AceAdminLayout.cshtml";
}
<script>

</script>
<h1>Barang</h1>
<br />
<a asp-action="Create">Create</a>
<form asp-action="Index">
    <div class="form-group">
        <div class="col-sm-9">
            <input class="col-xs-10 col-sm-5" name="search" />
        </div>
    </div>
    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn" type="submit">
                <i class="ace-icon fa fa-undo bigger-110"></i>
                Search
            </button>
        </div>
    </div>
</form>
<form asp-action="Index">
    <input hidden value="1" name="pageN"></input>
<button class=" btn" type="submit">1</button>
</form>

<br />
<table id="dynamic-table" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model=>model.SkillIdPk)</th>
            <th>@Html.DisplayNameFor(model=>model.SkillName)</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem=>item.SkillIdPk)</td>
                    <td>@Html.DisplayFor(modelItem=>item.SkillName)</td>
                    <td>
                        <div class="hidden-sm hidden-xs action-buttons">
                            <a class="green" asp-action="EditSkill" asp-route-id="@item.SkillIdPk">
                                Edit
                            </a>

                            <a class="red" asp-action="Delete" asp-route-id="@item.SkillIdPk">
                                Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>

</table>
<br />

